@media (max-width: 768px) {
    .centered h1{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .centered h4{
        padding-bottom: 0;
    }
    .btn-info{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        color: white;
        padding: 8px 25px;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .centered h1{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .centered h4{
        font-size: 16px;
        padding-bottom: 0;
    }
    .btn-info{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 200;
        color: white;
        padding: 5px 15px;
        margin-top: 25px;
    }
}
@media (max-width: 320px) {
    .centered h1{
        font-size: 12px;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .centered h4{
        font-size: 12px;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .btn-info{
        margin: 0;
        font-weight: 100;
        font-size: 12px;
        padding: 3px 10px;
    }
}